/*/.idea/
/*/cmake-build-debug/
/CapGemini/.idea/
/CapGemini/cmake-build-debug/
/Interview_Questions/.idea/
/Interview_Questions/cmake-build-debug/
/Live_Coding/cmake-build-debug/
/MathWorks/cmake-build-debug/
/MathWorks/.idea/
.idea